.button button span {
  border-bottom: 1px solid;
  border-right: 1px solid;
  width: 5px;
  height: 5px;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 10px;
  margin-bottom: 1px;
}
.fill {
  border: none;
  background: #4b3ec4;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding: 15px 25px;
  color: #fff;
  border-radius: 30px;
}
.fill1 {
  border: none;
  background: #212529;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding: 15px 25px;

  color: #fff;
  border-radius: 30px;
}
.text {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding: 5px 20px;
  color: #000;
  border-radius: 30px;
}
.outline {
  color: #000;
  border: 2px solid;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding: 15px 25px;
  border-radius: 30px;
}
