.footer {
  padding: 40px 0 0 0;
}
.f_free_shipping span:first-child {
  margin-right: 15px;
}
.f_free_shipping span:last-child {
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
}
.f_top {
  padding-bottom: 50px;
}
.f_bottom {
  padding-top: 50px;
}
.fb_swoo {
}
.fb_swoo h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  padding-bottom: 33px;
}
.fbshotline {
  padding-bottom: 20px;
}
.fbshotline span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.fbshotline h5 {
  color: #4b3ec4;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.fbs_address {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 40px;
}
.fbs_socailicon ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 14px;
}
.fbs_socailicon ul li {
  width: 35px;
  height: 35px;
  border: 1px solid #99999933;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fbs_socailicon ul li a {
  text-decoration: none;
  display: inline-block;
}
.fb_cetagories {
}
.fb_cetagories h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  padding-bottom: 30px;
}
.fb_cetagories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fb_cetagories ul li a {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.footer_bottom {
  margin-top: 50px;
  background: #ebeef6;
  padding: 40px 0;
}
.fb_company {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb_company ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}
.fb_company ul li img {
  object-fit: contain;
  width: 100%;
}
.fb_select {
  display: flex;
  justify-content: end;
}
.fb_select .fbs_drop {
  border-right: 1px solid;
}
@media (max-width: 425px) {
  .fb_swoo {
    text-align: center;
  }
  .fbs_socailicon ul {
    justify-content: center;
  }
  .fb_cetagories {
    text-align: center;
  }
  .fb_reserved {
    text-align: center;
  }
  .fb_select {
    justify-content: center;
  }
}
